<footer
    class="mt-auto flex min-h-[140px] w-full flex-col items-center justify-between bg-primary px-2 text-black sm:px-4"
>
    <div
        class="flex h-full w-full flex-col items-center justify-between md:flex-row"
    >
        <div class="mt-4 sm:whitespace-nowrap md:mt-0 md:pr-8 lg:pr-12">
            <p class="">
                &#169; {{ now |  format="Y" }} {{ site_data:school_name }}
                High School Athletics
            </p>
            <p>
                {{ site_data:street_address }}
                , {{ site_data:school_city }},
                {{ site_data:school_state }}
                {{ site_data:zip_code }}
            </p>
            {{ if site_data:facebook_url or site_data:twitter_url or site_data:instagram_url }}
            <div class="mt-2 flex gap-3 text-lg">
                {{ if site_data:facebook_url }}
                <a href="{{ site_data:facebook_url }}" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                {{ /if }}
                {{ if site_data:twitter_url }}
                <a href="{{ site_data:twitter_url }}" target="_blank" aria-label="X / Twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                {{ /if }}
                {{ if site_data:instagram_url }}
                <a href="{{ site_data:instagram_url }}" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                {{ /if }}
            </div>
            {{ /if }}
        </div>
        <div class="my-12 flex flex-wrap items-center justify-center">
            {{ site_data:footer_logos }}
                <a href="{{ company_url }}" target="_blank">
                    <img
                        class="mx-2 h-[50px]"
                        src="{{ glide src="{{company_logo}}" width="auto" height="100px" }}"
                        alt="{{ alt }}"
                    />
                </a>
            {{ /site_data:footer_logos }}
        </div>
    </div>
</footer>
