{{ slugArray = url | explode('/') }}
{{ teamArray = ["boys-jv", "boys-varsity", "girls-jv", "girls-varsity"] }}
{{ scheduleTypeArray = ["u", "r"] }}
{{ team = "" }}
{{ slugArray }}
    {{ if teamArray | contains({value}) }}
        {{ team = value }}
    {{ /if }}
{{ /slugArray }}
<nav class="sticky top-0 z-10 flex flex-col leading-4 duration-500" id="navbar">
    <div
        id="upperNav"
        class="flex w-full items-center justify-between bg-primary-500 px-1 text-black sm:px-4"
    >
        <a href="/" class="min-w-[50px] py-2">
            <img
                src="{{ glide src="{{site_data:logo}}" width="80" height="80" }}"
                alt="{{ alt }}"
            />
        </a>
        <div class="ml-2 flex w-full flex-col sm:ml-4 md:ml-6">
            <p
                class="block w-full self-end border-b border-white/30 py-4 text-right text-sm font-light xs:text-base"
            >
                {{ site_data:school_name }}
                High School Soccer
            </p>

            <ul
                class="ml-auto flex items-center justify-center self-stretch text-sm font-bold xs:text-base sm:text-xl md:text-2xl"
            >
                {{ nav:top_level }}
                    <li
                        class="flex h-full cursor-pointer items-center px-2 py-4 duration-150 hover:bg-white md:px-4"
                    >
                        <a href="{{ url }}">{{ title }}</a>
                    </li>
                {{ /nav:top_level }}
            </ul>
        </div>
    </div>

    <div
        class="flex w-full flex-col-reverse items-center border-b bg-white p-4 shadow-md duration-500 xs:flex-row"
        id="lowerNav"
    >
        <div class="relative">
            <div class="relative overflow-hidden">
                <button
                    class="text-md flex items-center space-x-2 whitespace-nowrap rounded-full bg-slate-500/20 px-4 py-2 font-semibold leading-5 tracking-wider hover:bg-slate-400/20"
                    type="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="pill"
                >
                    Boy's JV
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="shine absolute"></div>
            </div>
            <div
                class="absolute top-full mt-1 hidden w-40 rounded-lg bg-white py-2 text-sm font-semibold leading-6 text-slate-700 shadow ring-1 ring-slate-900/5"
                id="teamSelect"
            >
                <div
                    class="teamSelectItem boys-jv flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="boys-jv"
                >
                    Boys JV
                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
                <div
                    class="teamSelectItem boys-varsity flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="boys-varsity"
                >
                    Boys Varsity

                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
                <div
                    class="teamSelectItem girls-jv flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="girls-jv"
                >
                    Girls JV
                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
                <div
                    class="teamSelectItem girls-varsity flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="girls-varsity"
                >
                    Girls Varsity
                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
            </div>
        </div>

        <ul class="ml-4 flex text-sm md:text-base">
            <li class="p-2">
                <a
                    class="{{if slugArray[2] == "schedule"}} underline font-semibold cursor-default {{/if}} pb-2 hover:underline"
                    href="{{ config:app:url }}{{if team}}{{team}}{{else}}boys-jv{{/if}}/schedule"
                >
                    Schedule
                </a>
            </li>
            <li class="p-2">
                <a
                    class="{{if slugArray[2] == "roster"}} underline font-semibold cursor-default {{/if}} pb-2 hover:underline"
                    href="{{ config:app:url }}{{if team}}{{team}}{{else}}boys-jv{{/if}}/roster"
                >
                    Roster
                </a>
            </li>
            <li class="p-2">
                <a
                    class="{{if slugArray[2] == "stats"}} underline font-semibold cursor-default {{/if}} pb-2 hover:underline"
                    href="{{ config:app:url }}{{if team}}{{team}}{{else}}boys-jv{{/if}}/stats"
                >
                    Stats
                </a>
            </li>
        </ul>
        {{ if site_data:stripe_link }}
            <button
                class="ml-auto rounded border-2 border-secondary bg-primary px-4 py-2 text-lg font-bold shadow-md duration-150 hover:bg-primary-600 hover:shadow-sm"
                id="donateModalTrigger"
            >
                DONATE
            </button>
        {{ /if }}
    </div>

    {{ partial:modal id="donationModal" }}
        <div class="flex flex-col items-center justify-center gap-2">
            <p>
                Thank you for considering donating to the
                {{ site_data:school_name }}
                {{ site_data:mascot }}
                soccer team! Your generosity is greatly appreciated and helps us
                continue our mission of fostering teamwork, skill development,
                and sportsmanship.
            </p>
            <p>
                Before you proceed with your donation, we would like to inform
                you about the transaction fees associated with online donations.
                Our third-party payment processing company charges a fee of 3%
                for each online donation. While online donations are convenient,
                we want to maximize the impact of your contribution.
            </p>
            <p>
                If possible, we kindly request that you consider making your
                donation in person. By doing so, we can ensure that 100% of your
                contribution directly benefits our team without any deduction
                for processing fees.
            </p>
            <p>
                Please feel free to reach out to us if you have any questions or
                would like to arrange an in-person donation. Your support means
                the world to us, and we are grateful for your consideration.
            </p>
            <p>
                Thank you for supporting the {{ site_data:school_name }}
                {{ site_data:mascot }}
                Soccer Team!
            </p>
            <a
                class="donateButton cursor-pointer rounded border-2 border-secondary bg-primary px-4 py-2 text-lg font-bold uppercase hover:bg-primary-600"
                href="https://buy.stripe.com/test_3cs7uS0Qw86xb5u6oo"
                target="_blank"
            >
                Continue to Donation
            </a>
        </div>
    {{ /partial:modal }}
</nav>
