{{ slugArray = url | explode('/') }}
{{ teamArray = ["boys-jv", "boys-varsity", "girls-jv", "girls-varsity"] }}
{{ scheduleTypeArray = ["u", "r"] }}
{{ team = "" }}
{{ slugArray }}
    {{ if teamArray | contains({value}) }}
        {{ team = value }}
    {{ /if }}
{{ /slugArray }}
<nav class="sticky top-0 z-10 flex flex-col leading-4">
    <div
        class="flex w-full items-center justify-between bg-primary-500 px-1 text-white sm:px-4"
    >
        <a href="/" class="min-w-[50px] py-2">
            <img
                src="{{ glide:site_data:logo width="75" height="75" }}"
                alt="{{ alt }}"
            />
        </a>
        <div class="ml-2 flex w-full flex-col sm:ml-4 md:ml-6">
            <p
                class="block w-full self-end border-b border-white/30 py-4 text-right text-sm font-light xs:text-base"
            >
                {{ site_data:school_name }}
                High School Soccer
            </p>

            <ul
                class="ml-auto flex items-center justify-center self-stretch text-sm font-bold xs:text-base sm:text-xl md:text-2xl"
            >
                {{ nav:top_level }}
                    <li
                        class="flex h-full items-center px-2 py-4 duration-150 hover:bg-white hover:text-primary-500 md:px-4"
                    >
                        <a href="{{ url }}">{{ title }}</a>
                    </li>
                {{ /nav:top_level }}
            </ul>

            <!-- <ul
                class="ml-auto flex items-center justify-center self-stretch text-sm font-bold xs:text-base sm:text-xl md:text-2xl"
            >
                <li
                    class="flex h-full items-center px-2 py-4 duration-150 hover:bg-white hover:text-primary-500 md:px-4"
                >
                    <a class="" href="{{ config:app:url }}/news">News</a>
                </li>
                <li
                    class="flex h-full items-center px-2 py-4 duration-150 hover:bg-white hover:text-primary-500 md:px-4"
                >
                    <a class="" href="{{ config:app:url }}/coaches">Coaches</a>
                </li>
                <li
                    class="flex h-full items-center px-2 py-4 duration-150 hover:bg-white hover:text-primary-500 md:px-4"
                >
                    <a class="" href="{{ config:app:url }}/sponsers">
                        Sponsers
                    </a>
                </li>
            </ul> -->
        </div>
    </div>

    <div
        class="flex w-full flex-col-reverse items-center bg-white p-4 xs:flex-row"
    >
                    aria-expanded="false"
            <div
                class="absolute top-full mt-1 hidden w-40 rounded-lg bg-white py-2 text-sm font-semibold leading-6 text-slate-700 shadow ring-1 ring-slate-900/5"
                id="teamSelect"
            >
                <div
                    class="teamSelectItem boys-jv flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="boys-jv"
                >
                    Boys JV
                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
                <div
                    class="teamSelectItem boys-varsity flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="boys-varsity"
                >
                    Boys Varsity

                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
                <div
                    class="teamSelectItem girls-jv flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="girls-jv"
                >
                    Girls JV
                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
                <div
                    class="teamSelectItem girls-varsity flex cursor-pointer items-center justify-between px-4 py-1"
                    data-team="girls-varsity"
                >
                    Girls Varsity
                    <div class="hidden"><i class="fa-solid fa-check"></i></div>
                </div>
            </div>
        </div>

        <ul class="ml-4 flex text-sm md:text-base">
            <li class="p-2">
                <a
                    class="{{if slugArray[2] == "schedule"}} underline font-semibold cursor-default {{/if}} pb-2 hover:underline"
                    href="{{ config:app:url }}{{if team}}{{team}}{{else}}boys-jv{{/if}}/schedule"
                >
                    Schedule
                </a>
            </li>
            <li class="p-2">
                <a
                    class="{{if slugArray[2] == "roster"}} underline font-semibold cursor-default {{/if}} pb-2 hover:underline"
                    href="{{ config:app:url }}{{if team}}{{team}}{{else}}boys-jv{{/if}}/roster"
                >
                    Roster
                </a>
            </li>
            <li class="p-2">
                <a
                    class="{{if slugArray[2] == "stats"}} underline font-semibold cursor-default {{/if}} pb-2 hover:underline"
                    href="{{ config:app:url }}{{if team}}{{team}}{{else}}boys-jv{{/if}}/stats"
                >
                    Stats
                </a>
            </li>
        </ul>
    </div>
</nav>
