<section
    class="{{if index % 2 == 0}}flex-row {{else}}flex-row-reverse{{/if}} w-full items-center md:flex"
>
    {{ if cover_photo }}
        <img
            class="{{if index % 2 == 0}}md:mr-3 {{else}}md:ml-3 {{/if}} hidden h-[180px] rounded-md object-cover md:block"
            src="{{ glide src="{{cover_photo}}" width="auto" height="200" }}"
            alt="{{ alt }}"
        />
    {{ /if }}
    <div class="flex flex-col">
        <span class="text-bg-primary font-light">{{ publish_date }}</span>
        <h2 class="font -bold text-2xl">{{ title }}</h2>
        <a
            href="/news/{{ slug }}"
            class="mt-3 self-start rounded-md bg-primary-500 px-4 py-2 text-center text-lg text-black shadow-md duration-150 hover:bg-primary-600"
        >
            Read Article
        </a>
    </div>
</section>
