<div
    class="flex items-center justify-between border-b border-gray-300 px-2 py-4 last:border-b-0 odd:bg-gray-100 md:justify-normal"
>
    <div class="flex items-center md:w-1/2">
        {{ if image }}
            <img
                src="{{ glide src="{image}" w="100" h="120" }}"
                alt="{alt}"
                class="hidden sm:block"
            />
        {{ /if }}
        <div class="ml-4 flex flex-col">
            <div class="mb-2 py-1 text-sm font-bold md:mb-4">
                {{ position }}
                    {{ if position | length != 1 }}
                        {{ if !last }}
                            {{ value | ucfirst }}
                            /
                        {{ else }}
                            {{ value | ucfirst }}
                        {{ /if }}
                    {{ else }}
                        {{ value | ucfirst }}
                    {{ /if }}
                {{ /position }}
            </div>
            <div class="flex items-center justify-center">
                <span
                    class="bg-primary-500 px-2 py-1 font-bold italic text-white"
                >
                    {{ number }}
                </span>
                <span class="ml-2 text-xl font-bold text-gray-700">
                    {{ first_name }}
                    {{ last_name }}
                    {{ if captain }}
                        (c)
                    {{ /if }}
                </span>
            </div>
        </div>
    </div>
    <p class="font-light md:w-1/2">{{ grade | ucfirst }}</p>
</div>
