<div
    class="scheduleWidgetGame flex flex-col border-b border-gray-300 px-2 py-4 last:border-b-0 odd:bg-gray-100 sm:grid sm:grid-cols-3 md:items-center"
>
    {{ opponent }}
        <div class="flex items-center justify-center justify-self-start">
            <img
                src="{{ logo[0] }}"
                alt="{{ alt }}"
                class="mr-2 w-12 md:w-20"
            />
            <div class="flex flex-col">
                <p class="mb-2 py-1 text-sm font-bold md:mb-4">
                    {{ game_date format="M d (D)" }}
                    •
                    <span class="font-light">
                        {{ time | format('g:ia') }}
                    </span>
                </p>
                <p>
                    {{ if location == "home" }}
                        <span
                            class="bg-primary-500 px-2 py-1 font-bold italic text-black"
                        >
                            vs
                        </span>
                    {{ elseif location =="away" }}
                        <span
                            class="bg-gray-500 px-2 py-1 font-bold italic text-black"
                        >
                            at
                        </span>
                    {{ /if }}
                    <span class="ml-2 text-xl font-bold text-gray-700">
                        {{ school_name }}
                        {{ mascot }}
                    </span>
                </p>
            </div>
        </div>

        <div class="font-light">
            {{ if location == "home" }}
                <p class="my-4 text-center sm:my-0 sm:text-left">
                    {{ site_data:school_city }}
                    , {{ site_data:school_state }}
                </p>
            {{ else }}
                <p class="my-4 text-center sm:my-0 sm:text-left">
                    {{ opponent_school_city }}
                    , {{ opponent_school_state }}
                </p>
            {{ /if }}
        </div>
    {{ /opponent }}
    <div class="text-center sm:text-left">
        {{ if our_score > opponent_score }}
            <span class="text-xl font-medium italic text-gray-700">
                W, {{ our_score }}-{{ opponent_score }}
            </span>
        {{ elseif opponent_score > our_score }}
            <span class="text-xl font-medium italic text-gray-700">
                L, {{ our_score }}-{{ opponent_score }}
            </span>
        {{ elseif opponent_score > 0 || our_score > 0 }}
            <span class="text-xl font-medium italic text-gray-700">
                T, {{ our_score }}-{{ opponent_score }}
            </span>
        {{ /if }}
    </div>
</div>
