<div
    class="scheduleWidgetGame border-b border-gray-300 px-2 py-4 font-light last:border-b-0 odd:bg-gray-100"
>
    <p class="uppercase">
        {{ game_date format="F jS" }}
        • {{ time | format('g:ia') }}
    </p>
    <div class="flex items-center">
        <img src="{{ site_data:logo }}" alt="" class="mr-2 w-[30px]" />
        <div
            class="{{if opponent_score < our_score}} font-bold {{/if}} flex w-full justify-between pr-4"
        >
            <p>{{ site_data:school_name }}</p>
            <p>{{ our_score }}</p>
        </div>
    </div>
    <div class="flex items-center">
        {{ opponent }}
            <img src="{{ logo[0] }}" alt="" class="mr-2 w-[30px]" />

            <div
                class="{{if opponent_score > our_score}} font-bold {{/if}} flex w-full justify-between pr-4"
            >
                <p>
                    {{ if location == "home" }}vs.
                    {{ elseif location =="away" }}
                        at
                    {{ /if }}
                    {{ school_name }}
                </p>
                <p>{{ opponent_score }}</p>
            </div>
        {{ /opponent }}
    </div>
</div>
