<section class="flex w-full items-center justify-center bg-white p-4">
    <div class="max-w-7xl">
        <h1 class="mb-8 mt-16 text-center text-3xl">Coaches</h1>

        <div
            class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
            {{ collection:coaches active:is="true" head_coach:is="true" }}
                {{ partial:card_linkable href="/coaches/{slug}" image="{image}" }}
                    <div class="flex flex-col p-4">
                        <span class="border-gray-300 px-3 text-xl">
                            {{ title }}
                        </span>

                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize"
                        >
                            {{ email }}
                        </span>
                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize text-primary-900"
                        >
                            {{ phone_number }}
                        </span>
                    </div>
                {{ /partial:card_linkable }}
            {{ /collection:coaches }}
            {{ collection:coaches active:is="true" head_coach:isnt="true" }}
                {{ partial:card_linkable href="/coaches/{slug}" image="{image}" }}
                    <div class="flex flex-col p-4">
                        <span class="border-gray-300 px-3 text-xl">
                            {{ title }}
                        </span>

                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize"
                        >
                            {{ email }}
                        </span>
                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize text-primary-900"
                        >
                            {{ phone_number }}
                        </span>
                    </div>
                {{ /partial:card_linkable }}
            {{ /collection:coaches }}
        </div>
    </div>
</section>
