<section class="flex w-full items-center justify-center bg-white p-4">
    <div class="max-w-7xl">
        <h1 class="mb-8 text-center text-3xl">Coaches</h1>

        <div
            class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
            {{ collection:coaches active:is="true" head_coach:is="true" }}
                <a
                    href="/coaches/{{ slug }}"
                    class="flex flex-col overflow-clip border border-slate-300 duration-150"
                >
                    {{ if image }}
                        <img
                            class="aspect-video w-full overflow-hidden object-cover duration-200 hover:scale-105"
                            src="{{ glide src="{{image}}" width="900" height="600" }}"
                            alt="{{ alt }}"
                        />
                    {{ /if }}
                    <div class="flex flex-col p-4">
                        <span class="border-gray-300 px-3 text-xl">
                            {{ title }}
                        </span>

                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize"
                        >
                            {{ email }}
                        </span>
                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize text-primary-900"
                        >
                            {{ phone_number }}
                        </span>
                    </div>
                </a>
            {{ /collection:coaches }}
            {{ collection:coaches active:is="true" head_coach:isnt="true" }}
                <a
                    href="/coaches/{{ slug }}"
                    class="flex flex-col overflow-clip border border-slate-300 duration-150"
                >
                    {{ if image }}
                        <img
                            class="aspect-video w-full overflow-hidden object-cover duration-200 hover:scale-105"
                            src="{{ glide src="{{image}}" width="900" height="600" }}"
                            alt="{{ alt }}"
                        />
                    {{ /if }}
                    <div class="flex flex-col p-4">
                        <span class="border-gray-300 px-3 text-xl">
                            {{ title }}
                        </span>

                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize"
                        >
                            {{ email }}
                        </span>
                        <span
                            class="border-gray-300 px-3 py-1 font-extralight capitalize text-primary-900"
                        >
                            {{ phone_number }}
                        </span>
                    </div>
                </a>
            {{ /collection:coaches }}
        </div>
    </div>
</section>
