{{partial:team_page_section}}

    <div class="relative hidden sm:block">
        <img src="{{background_image}}" class="h-[90vh] w-full object-cover">
        <p class=" text-white text-3xl md:text-5xl absolute bottom-0 w-full py-4 pl-4 md:pl-[350px] bg-gradient-to-r from-primary-700/70 to-primary-500/70">{{title}}</p>
    </div>

    <div class="bg-slate-200 flex flex-col sm:flex-row sm:items-start">
        <img src="{{image}}" class="md:-translate-y-1/2 md:ml-4 md:border-8 border-white w-[316px]" />
        <p class="pl-4 text-black text-3xl py-4 sm:hidden">{{title}}</p>
        <div>
            <div class="grid lg:grid-cols-2 w-full pl-4 border-b border-gray-500">
                <p class="my-2 lg:my-4 flex items-center gap-2"><span class="text-primary-600 text-lg">TITLE: </span>{{position}}</p>
                <p class="my-2 lg:my-4 flex items-center gap-2"><span class="text-primary-600 text-lg">EMAIL: </span>{{email}}</p>
            </div>
            <div class="my-4 px-4">
                <p>{{about}}</p>
            </div>
        </div>
    </div>     
{{/partial:team_page_section}}