{{slugArray = url | explode('/')}}
{{theTeam = slugArray[1] | explode("-")}}
{{gender = theTeam[0]}}
{{jvOrVarsity = theTeam[1]}}
{{finalTeam = gender + "_" + jvOrVarsity | camelize}}
{{scheduleType = slugArray[2]}}

{{scheduleTeamTitle = ""}}
{{if jvOrVarsity == "jv"}}
    {{scheduleTeamTitle = "JV"}}
{{else if jvOrVarsity == "varsity"}}
    {{scheduleTeamTitle = "Varsity"}}
{{/if}}


    {{collection:teams | sort="year:desc" team:is="{jvOrVarsity}" gender:is="{gender}" as="team" paginate="1"}}
        
        {{team}}
            {{if team == "jv"}}
                <h1 class="text-3xl pb-4 border-b border-gray-300">{{year}} {{gender | ucfirst}} JV Schedule </h1>
            {{else}}
                <h1 class="text-3xl pb-4 border-b border-gray-300">{{year}} {{gender | ucfirst}} {{team | ucfirst}} Schedule </h1>
            {{/if}}

            {{if games| is_empty}}
                <p class="p-2">Sorry, there are no upcoming games at this time.</p>
            {{else}}
                {{games | sort="game_date:desc"}}
                    {{partial:schedule_page_game}}
                {{/games}}
            {{/if}}

            {{ paginate }}
            <ul class="pagination flex items-center gap-4 my-2 justify-center">
                {{ if prev_page }}
                    <li class="py-2 px-4 text-sm border border-gray-400 rounded-full"><a href="{{ prev_page }}">&laquo;</a></li>
                {{ else }}
                    <li class="disabled py-2 px-4 text-sm border border-gray-400 rounded-full invisible"><span>&laquo;</span></li>
                {{ /if }}

         
                {{ links:segments }}
                    {{ first }}
                        {{ if page == current_page }}
                            <li class="active bg-primary-500 text-black py-2 px-4 text-sm border-primary-900 rounded-full border"><span>{{ page }}</span></li>
                        {{ else }}
                            <li class="py-2 px-4 text-sm border border-gray-400 rounded-full"><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /first }}

                    {{ if slider }}
                        <li class="disabled py-2 px-4 text-sm border border-gray-400 rounded-full"><span>...</span></li>
                    {{ /if }}

                    {{ slider }}
                        {{ if page == current_page }}
                            <li class="active bg-primary-500 text-black py-2 px-4 text-sm border-gray-400 rounded-full border"><span>{{ page }}</span></li>
                        {{ else }}
                            <li class="py-2 px-4 text-sm border border-gray-400 rounded-full"><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /slider }}

                    {{ if slider || (!slider && last) }}
                        <li class="disabled py-2 px-4 text-sm border border-gray-400 rounded-full"><span>...</span></li>
                    {{ /if }}
        
                    {{ last }}
                        {{ if page == current_page }}
                            <li class="active bg-primary-500 text-black py-2 px-4 text-sm border-gray-400 rounded-full border"><span>{{ page }}</span></li>
                        {{ else }}
                            <li class="py-2 px-4 text-sm border border-gray-400 rounded-full"><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /last }}

                {{ /links:segments }}

                {{ if next_page }}
                    <li class="py-2 px-4 text-sm border border-gray-400 rounded-full"><a href="{{ next_page }}">&raquo;</a></li>
                {{ else }}
                    <li class="disabled py-2 px-4 text-sm border border-gray-400 rounded-full invisible"><span>&raquo;</span></li>
                {{ /if }}
            </ul>
        {{ /paginate }}

        {{/team}}
            
    {{/collection:teams}}

