<section class="flex flex-col items-center justify-center" id="newsPage">
    <h1 class="mb-8 mt-16 text-3xl">Story Archives</h1>

    {{ collection:news |  sort="publish_date:desc" paginate="12" as="posts" }}
        <!-- <input
            type="search"
            placeholder="search"
            class="mb-6 px-4 py-2 outline-0"
            id="newsPage__search"
        /> -->

        <div>
            {{ if no_results }}
                <p>Aww, there are no results.</p>
            {{ /if }}
            <div
                class="grid auto-rows-fr grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
            >
                {{ posts }}
                    {{ partial:card_linkable href="/news/{slug}" image="{cover_photo}" }}
                        <div
                            class="{{if !cover_photo}}h-full flex flex-col justify-center{{/if}} px-4 py-2"
                        >
                            <div class="text-sm font-thin">
                                {{ publish_date | format('m-d-Y') }}
                            </div>
                            <div
                                class="{{if cover_photo}}line-clamp-2 {{else}} line-clamp-5{{/if}} overflow-hidden"
                            >
                                <h2 class="font-sanserif">{{ title }}</h2>
                            </div>
                        </div>
                    {{ /partial:card_linkable }}
                {{ /posts }}
            </div>
        </div>

        {{ paginate }}
            <ul class="pagination my-2 flex items-center gap-4">
                {{ if prev_page }}
                    <li
                        class="rounded-full border border-gray-400 px-4 py-2 text-sm"
                    >
                        <a href="{{ prev_page }}">&laquo;</a>
                    </li>
                {{ else }}
                    <li
                        class="disabled invisible rounded-full border border-gray-400 px-4 py-2 text-sm"
                    >
                        <span>&laquo;</span>
                    </li>
                {{ /if }}
                {{ links:segments }}
                    {{ first }}
                        {{ if page == current_page }}
                            <li
                                class="active rounded-full border border-primary-900 bg-primary-500 px-4 py-2 text-sm text-black"
                            >
                                <span>{{ page }}</span>
                            </li>
                        {{ else }}
                            <li
                                class="rounded-full border border-gray-400 px-4 py-2 text-sm"
                            >
                                <a href="{{ url }}">{{ page }}</a>
                            </li>
                        {{ /if }}
                    {{ /first }}
                    {{ if slider }}
                        <li
                            class="disabled rounded-full border border-gray-400 px-4 py-2 text-sm"
                        >
                            <span>...</span>
                        </li>
                    {{ /if }}
                    {{ slider }}
                        {{ if page == current_page }}
                            <li
                                class="active rounded-full border border-gray-400 bg-primary-500 px-4 py-2 text-sm text-black"
                            >
                                <span>{{ page }}</span>
                            </li>
                        {{ else }}
                            <li
                                class="rounded-full border border-gray-400 px-4 py-2 text-sm"
                            >
                                <a href="{{ url }}">{{ page }}</a>
                            </li>
                        {{ /if }}
                    {{ /slider }}
                    {{ if slider || (!slider && last) }}
                        <li
                            class="disabled rounded-full border border-gray-400 px-4 py-2 text-sm"
                        >
                            <span>...</span>
                        </li>
                    {{ /if }}
                    {{ last }}
                        {{ if page == current_page }}
                            <li
                                class="active rounded-full border border-gray-400 bg-primary-500 px-4 py-2 text-sm text-black"
                            >
                                <span>{{ page }}</span>
                            </li>
                        {{ else }}
                            <li
                                class="rounded-full border border-gray-400 px-4 py-2 text-sm"
                            >
                                <a href="{{ url }}">{{ page }}</a>
                            </li>
                        {{ /if }}
                    {{ /last }}
                {{ /links:segments }}
                {{ if next_page }}
                    <li
                        class="rounded-full border border-gray-400 px-4 py-2 text-sm"
                    >
                        <a href="{{ next_page }}">&raquo;</a>
                    </li>
                {{ else }}
                    <li
                        class="disabled invisible rounded-full border border-gray-400 px-4 py-2 text-sm"
                    >
                        <span>&raquo;</span>
                    </li>
                {{ /if }}
            </ul>
        {{ /paginate }}
    {{ /collection:news }}
</section>
